<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "calculator" class="org.javaturk.oofp.ch03.math.calculator1XML.CalculatorT1">
    <constructor-arg index="0"
                     value="8" />
    </bean>

    <bean id = "sinfunction" class="org.javaturk.oofp.ch03.math.calculator1XML.SinFunction">
    </bean>

    <bean id = "logfunction" class="org.javaturk.oofp.ch03.math.calculator1XML.LogFunction">
    </bean>

    <bean id = "cosfunction" class="org.javaturk.oofp.ch03.math.calculator1XML.CosFunction">
    </bean>

    <bean id = "squaredfunction" class="org.javaturk.oofp.ch03.math.calculator1XML.SquaredFunction">
    </bean>

    <bean id = "squarefunction" class="org.javaturk.oofp.ch03.math.calculator1XML.SquareFunction">
    </bean>

    <bean id = "cubefunction" class="org.javaturk.oofp.ch03.math.calculator1XML.CubeFunction">
    </bean>

    <bean id = "fibonaccifunction" class="org.javaturk.oofp.ch03.math.calculator1XML.SumOfFibonacciFunction">
    </bean>

    <bean id = "factorialfunction" class="org.javaturk.oofp.ch03.math.calculator1XML.FactorialFunction">
    </bean>


</beans>